
{% for game in site.games %}
	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
		<div class="uk-card-media-left uk-cover-container">
			<img src="https://throyd.github.io/gamestuff/assets/images/games/cover/{{game.key}}.jpg" alt="" uk-cover>
			<canvas width="600" height="400"></canvas>
		</div>
		<div>
			<div class="uk-card-header">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-expand">
							<h3 class="uk-card-title uk-margin-remove-bottom">{{game.name}}</h3>
							<p class="uk-text-meta uk-margin-remove-top">{{game.developer}}</p>
					</div>
				</div>
			</div>
			<div class="uk-card-footer">

				{% if game.nes == true %}
					<span class="uk-label nintendo" uk-tooltip="Nintendo Entertainment System">NES</span>
				{% endif %}
				{% if game.snes == true %}
					<span class="uk-label nintendo" uk-tooltip="Super Nintendo Entertainment System">SNES</span>
				{% endif %}
				{% if game.n64 == true %}
					<span class="uk-label nintendo" uk-tooltip="Nintendo 64">N64</span>
				{% endif %}
				{% if game.ngc == true %}
					<span class="uk-label nintendo" uk-tooltip="GameCube">NGC</span>
				{% endif %}
				{% if game.wii == true %}
					<span class="uk-label nintendo" uk-tooltip="Wii">WII</span>
				{% endif %}
				{% if game.wiiu == true %}
					<span class="uk-label nintendo" uk-tooltip="Wii U">WIIU</span>
				{% endif %}
				{% if game.nswitch == true %}
					<span class="uk-label nintendo" uk-tooltip="Switch">SWITCH</span>
				{% endif %}
				{% if game.gb == true %}
					<span class="uk-label nintendo" uk-tooltip="Game Boy">Game Boy</span>
				{% endif %}
				{% if game.gbc == true %}
					<span class="uk-label nintendo" uk-tooltip="Game Boy Color">GBC</span>
				{% endif %}
				{% if game.gba == true %}
					<span class="uk-label nintendo" uk-tooltip="Game Boy Advance">GBA</span>
				{% endif %}
				{% if game.nds == true %}
					<span class="uk-label nintendo" uk-tooltip="Nintendo DS">NDS</span>
				{% endif %}
				{% if game.3ds == true %}
					<span class="uk-label nintendo" uk-tooltip="Nintendo 3DS">3DS</span>
				{% endif %}

				
				{% if game.ps4 or game.ps5 == true %}
				JHIN MOLA
				{% endif %}


				{% if game.ps1 == true %}
					<span class="uk-label sony" uk-tooltip="PlayStation">PSX</span>
					{% assign sony = sony +1 %}
				{% endif %}
				{% if game.ps2 == true %}
					<span class="uk-label sony" uk-tooltip="PlayStation 2">PS2</span>
				{% endif %}
				{% if game.ps3 == true %}
					<span class="uk-label sony" uk-tooltip="PlayStation 3">PS3</span>
				{% endif %}
				{% if game.ps4 == true %}
					<span class="uk-label sony" uk-tooltip="PlayStation 4">PS4</span>
				{% endif %}
				{% if game.ps5 == true %}
					<span class="uk-label sony" uk-tooltip="PlayStation 5">PS5</span>
				{% endif %}
				{% if game.psp == true %}
					<span class="uk-label sony" uk-tooltip="PlayStation 5">PSP</span>
				{% endif %}
				{% if game.psvita == true %}
					<span class="uk-label sony" uk-tooltip="PlayStation 5">PSV</span>
				{% endif %}	
				{{sony}}
				
			</div>
		</div>
	</div>
{% endfor %}


<div class="uk-card uk-card-default uk-width-1-2@m">

	
    <div class="uk-card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
    <div class="uk-card-footer">
        <a href="#" class="uk-button uk-button-text">Read more</a>
    </div>
</div>